.primaryViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image {
    border: 7px solid rgb(59, 11, 11);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 2px;
    margin: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.textView {
    padding: 2px;
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: light;
}

.date {
    font-size: 15px;
}


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: grid;
  place-items: center;
  z-index: 100;
}

.input {
    border-radius: 20px;
    border: 1px solid rgb(176, 176, 176);
    height: 45px;
    font-size: 15px;
    color: rgb(40, 110, 251);
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.label {
   display: flex;
   position: left;
   padding: 10px;
   font-weight: bold;
   font-size: 15px;
}

.buttonForm {
    bottom: 20%;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(176, 176, 176);
    margin-top: 80px;
    font-size: 15px;
    font-weight: bold;

    
}


.buttonForm:hover {
    bottom: 20%;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(152, 40, 40);
    color:white;
    background-color: brown;
    margin-top: 80px;

    
}

.modal-body {
  background: #fff;
  padding: 2rem;
  text-align: center;
  height: 500px;
  border-radius: 8px;
  min-width: 320px;
}
