.primaryViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image {
    border: 7px solid rgb(59, 11, 11);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 2px;
    margin: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.textView {
    text-decoration: underline 3px;
    padding: 2px;
    font-size: 40px;
    margin-bottom: 5px;
}

.date {
    font-size: 15px;
}


/* FormModal.css */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: grid;
  place-items: center;
  z-index: 100;
}

.input {
    border-radius: 20px;
    border: 1px solid rgb(176, 176, 176);
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.label {
   display: flex;
   position: left;
   padding: 10px;
}

.buttonForm {
    position: absolute;
    bottom: 20%;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(176, 176, 176);
    margin-top: 20px;

    
}


.buttonForm:hover {
    position: absolute;
    bottom: 20%;
    align-self: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(152, 40, 40);
    color:white;
    background-color: brown;
    margin-top: 20px;

    
}

.modal-body {
  background: #fff;
  padding: 2rem;
  text-align: center;
  height: 500px;
  border-radius: 8px;
  min-width: 320px;
}
